---
---

@import "{{ site.theme }}";

header div.wrapper { 
  background: url(img/pathmatics-logo.png) no-repeat;
  background-repeat: no-repeat;
  background-size: 20px 31px;
  background-position: left center;
  background-origin: content-box;
}

a.site-title {
  padding-left: 26px;
}

@media screen and (max-width: 380px)
{
  a.site-title
  {
    font-size: 23px;
  }
}

@media screen and (max-width: 320px)
{
  a.site-title
  {
    font-size: 19px;
  }
}
